  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    background-image: linear-gradient( to bottom ,
    rgb(4, 4, 68),
    rgb(25, 25, 112)
    );
    min-height: 100vh;
    color: #fff;
}
.container {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    
}

.header {
    border: 3px solid rgb(128, 125, 125);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin: 50px 0;
}
h1 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 1;
    font-size: 30px;
}
.score-container {
    background-color: #fff;
    padding: 15px 30px;
    text-align: center;
    border-radius: 10px;
}
h4 {
    color: rgb(7, 7, 56);
    font-size: 14px;
    letter-spacing: 3px;
}

.score-container p {
    color: rgb(4, 4, 122);
    font-size: 24px;
    font-weight: 700;
    margin: 0;

}
.rules button {
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 2px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.main {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 auto;
    position: relative;
}

.btn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    box-shadow: inset 0 -6px rgb(0,0,0, 0.15);

    
}
.btn img {
    width: 50px;
    font-size: 50px;

}
.btn .wrapper {
    width: 120px;
    height: 120px;
    background-color: white;
    display: inline-flex;
    border-radius: 50%;
    justify-content: center;
    box-shadow: inset 0 6px rgb(0,0,0, 0.15);


} 
.main::before {
    background-image: url('images/triangle.png');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 50;
    z-index: -1;
}
.paper-btn {
    background: linear-gradient(
        to bottom,
        rgb(238, 31, 31),
        rgb(214, 25, 25)

    );

}
.scissors-btn {
    background: linear-gradient(
        to bottom,
        rgb(204, 26, 204),
        rgb(163, 7, 163)

    );

}
.rock-btn {
    background: linear-gradient(
        to bottom,
        #ffff00,
        rgb(228, 228, 13)

    );
    
}
.reset {
    border: 2px solid white;
    border-radius: 8px;
    background-color: white;
    text-transform: uppercase;
    color: rgb(3, 3, 46);
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 2px;
    bottom: 30px;
    right: 30px;
}
.selection {
    display: none;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}
.selection .btn {
    transform: scale(1.2);
    margin: 50px;
}
h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.result {
    text-transform: uppercase;
    line-height: 1;
    font-size: 30px;
    margin: 0 0 20px;
}
.pick:focus {
    outline: none;
}
.pick:active {
    transform: scale(0.9);
}
.rules-container {
    background-color: rgb(2, 2, 31);
    color: #fff;
    align-items: center;
    width: 300px;
    height: 300px;
    display: none;
    position: absolute;
    left: 500px;

}
.close {
    margin-top: 20px;
    margin-left: 250px;
    border: none;
    transform: scale(1.5);
    cursor: pointer;

}
.close img {
    width: 14px;
    height: 14px;
}